{#- jinja2: lstrip_blocks: true, trim_blocks: true -#}
# {{ ansible_managed }}
# MariaDB credentials for {{ inventory_hostname }}

mariadb_host: "{{ ansible_facts['default_ipv4']['address'] | default(inventory_hostname) }}"
mariadb_port: "{{ mariadb_port }}"
mariadb_root_password: "{{ mariadb_root_password }}"

{% if mariadb_databases | length > 0 %}
databases:
  {% for db in mariadb_databases %}
  - name: "{{ db.name }}"
  {% endfor %}
{% endif %}

{% if mariadb_users | length > 0 %}
users:
  {% for user in mariadb_users %}
  - name: "{{ user.name }}"
    password: "{{ user.password }}"
    host: "{{ user.host | default('localhost') }}"
  {% endfor %}
{% endif %}
